@font-face {
  font-family: "Bellota-Bold";
  src: local("Bellota-Bold"),
  url("./assets/fonts/Bellota/BellotaText-Bold.ttf");
}

@font-face {
  font-family: "Bellota-Light";
  src: local("Bellota-Light"),
  url("./assets/fonts/Bellota/BellotaText-Light.ttf");
}
@font-face {
  font-family: "Bellota-Regular";
  src: local("Bellota-Regular"),
  url("./assets/fonts/Bellota/BellotaText-Regular.ttf");
}
@font-face {
  font-family: "MuseoModerno-Bold";
  src: local("MuseoModerno-Bold"),
  url("./assets/fonts/Museo/MuseoModerno-Bold.ttf");
}
@font-face {
  font-family: "MuseoModerno-Light";
  src: local("MuseoModerno-Light"),
  url("./assets/fonts/Museo/MuseoModerno-Light.ttf");
}
@font-face {
  font-family: "MuseoModerno-Regular";
  src: local("MuseoModerno-Regular"),
  url("./assets/fonts/Museo/MuseoModerno-Regular.ttf");
}
@font-face {
  font-family: "GeraldtonBlack";
  src: local("GeraldtonBlack"),
  url("./assets/fonts/Geraldton/GeraldtonBlack.otf");
}
@font-face {
  font-family: "GeraldtonBold";
  src: local("GeraldtonBold"),
  url("./assets/fonts/Geraldton/GeraldtonBold.otf");

}
@font-face {
  font-family: "GeraldtonExtraLight";
  src: local("GeraldtonExtraLight"),
  url("./assets/fonts/Geraldton/GeraldtonExtraLight.otf");

}
@font-face {
  font-family: "GeraldtonMedium";
  src: local("GeraldtonMedium"),
  url("./assets/fonts/Geraldton/GeraldtonMedium.otf");
}
@font-face {
  font-family: "GeraldtonLight";
  src: local("GeraldtonLight"),
  url("./assets/fonts/Geraldton/GeraldtonLight.otf");
}
.App{
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}